<div class="main-container">
  <div class="container">
    <button class="btn show-the-truth" [ngClass]="{'show-truth' : showTruthState}" (click)="showTheTruth()">Quiero ver la verdad</button>
    <h2>
      La teoría de los dos demonios: <span class="dissapearing-text">La Noche de los lápices</span>
    </h2>
    <p>
      En 1975, en la ciudad de La Plata, jóvenes <span class="dissapearing-text">estudiantes entre 13 y 18 años</span> se autoconvocaron para pedir el boleto educativo estudiantil. En 1976, cae el gobierno de Isabel Perón y asume un gobierno <span class="dissapearing-text">dictatorial</span> cívico-militar. En ese mismo año, un grupo de militantes que <span class="dissapearing-text">algunos</span> formaban partes de la Juventud Guevaristas y de la Unión de Estudiantes Secundarios, fueron <span class="dissapearing-text">perseguidos</span>, detenidos, <span class="dissapearing-text">torturados y desaparecidos</span>. El 16 de septiembre, se rememora este fatídico día, en el cual se recuerda a quienes resistieron al infame Terrorismo <span class="dissapearing-text">de Estado</span> que aquejó a la Argentina a fines del Siglo XX
    </p>
    <h4>
      El comienzo
    </h4>
    <p>
      El 12 de septiembre de 1975, un multitudinario grupo de <span class="dissapearing-text">estudiantes secundarios</span> de la ciudad de La Plata, provincia de Buenos Aires, se reunieron para discutir acerca de cómo podían exigir el boleto estudiantil secundario. Para ese entonces, Argentina transitaba por una profunda crisis económica y la búsqueda <span class="dissapearing-text">de ese derecho</span> fue apoyado por organizaciones sociales <span class="dissapearing-text">de todos los ámbitos: radicales, peronistas, agrupaciones</span> de izquierda<span class="dissapearing-text">, entre otros</span>.
    </p>
    <p>
      Ante una asamblea formada por ellos, las voces se alzaron: <span class="dissapearing-text">algunos pregonaban la idea de llegar a un acuerdo mediante el diálogo, mientras que otros</span> buscaron maneras radicales de llegar al objetivo. Finalmente <span class="dissapearing-text">por votación, los alumnos</span> optaron por marchar hacia el ministerio de Obras Públicas de la ciudad, donde se desató una <span class="dissapearing-text">brutal</span> represión por parte de las fuerzas de seguridad. 
    </p>
    <h4>
      La conexión
    </h4>
    <p>
      A raíz de esta movilización, el Boleto Estudiantil Secundario había sido aprobado. Sin embargo, al año siguiente fue anulado <span class="dissapearing-text">y se llevó a cabo la persecución de diez integrantes de esa marcha, por ello se cree hoy día, que hay una correlación directa entre estos dos sucesos</span>. 
    </p>
    <h4>
      El cambio
    </h4>
    <p>
      El 24 de marzo de 1976, el gobierno democrático de Isabel Perón fue <span class="dissapearing-text">derrocado</span> y sustituido por una Junta Militar, liderada en un primer momento por Jorge Rafael Videla, Orlando Ramón Agosti y Emilio Eduardo Massera. Con uniformes y fusiles, protagonizaron la lucha activa contra la subversión y el comunismo, que se encontraba en auge en el territorio nacional. <span class="dissapearing-text">No obstante, con esa excusa y utilizando todos los recursos del estado, </span>
    </p>
    <p>
      En esta encarnada lucha <span class="dissapearing-text">totalmente dispar</span>, utilizaron métodos que, según el semanario Le Point, son análogas a las empleadas en la guerra por la independencia de Argelia por parte de los Franceses: La detención, <span class="dissapearing-text">el secuestro</span>, el interrogatorio exhaustivo <span class="dissapearing-text">con tortura y la desaparición</span>. 
    </p>
    <h4>
      El encierro
    </h4>
    <p>
      Un año después de la marcha hacia el ministerio, en los días subsiguientes al 16 de septiembre, se llevó a cabo un operativo que implicaba el trabajo en conjunto de las fuerzas policiales y el Batallón 601 del ejército que, <span class="dissapearing-text">encapuchados y fuertemente armados,</span> irrumpieron en las casas y establecimientos temporales de María Clara Ciocchini, Maria Claudia Falcone -integrantes de la agrupación Montoneros-, <span class="dissapearing-text">Claudio de Acha, Francisco Lopez Muntaner, Daniel Racero, Horacio Ungaro,</span> Gustavo Calotti, Pablo Diaz, Patricia Miranda y Emilce Moler.  
    </p>
    <p>
      Fueron conducidos a centros <span class="dissapearing-text">clandestinos</span> de detención, <span class="dissapearing-text">actualmente conocidos como “el pozo de Banfield” y el “pozo de Quilmes”;</span> donde fueron indagados <span class="dissapearing-text">y sometidos a aberrantes sesiones de tortura y violación</span> con el fin de <span class="dissapearing-text">desmoralizarlos y</span> que brinden información de sus <span class="dissapearing-text">presuntos</span> compañeros de guerrilla. 
    </p>
    <h4>
      Las investigaciones
    </h4>
    <p>
      Los interrogatorios se llevaban a cabo en habitaciones especiales que solían contar con una cama <span class="dissapearing-text">metálica o de goma pluma húmedo</span> y una radio <span class="dissapearing-text">que sonaba fuerte para ahogar los gritos desgarradores de las víctimas. Se los amarraba y eran sometidos a la picana eléctrica, a sopletes, a golpes de puño, a sumersión con kerosén y abusos sexuales.</span> No era extraño que haya un ambiente jovial <span class="dissapearing-text">entre los torturadores, que a veces, alargaban las sesiones por un mórbido goce criminal</span>.
    </p>
    <div class="final-truth" *ngIf="showTruthState">
      <h4>
        La vuelta de la democracia
      </h4>
      <p>
        Siete años después, el 10 de diciembre de 1983, la tríada militar se vió obligada a entregar el poder a un gobierno democrático elegido por la ciudadanía. El radical Raul Alfonín se impuso en las urnas e inmediatamente comenzó un proceso para un inédito enjuiciamiento civil de los militares implicados. 
      </p>
      <h4>
        El estrés post traumático
      </h4>
      <img src="https://imgsvr.radiocut.site/get/crop/center/200/200/cuts_logos/b4/c7/b4c7fa39-1070-4178-99f5-959943b4a982.jpg" alt="Nunca Mas Pañuelo">
      <p>
        El juicio a las juntas militares en 1985 recopiló el testimonio de los ex detenidos. Solo con los gestos de quienes tuvieron que escuchar los relatos es suficiente para tener una idea del sufrimiento de las víctimas.
      </p>
      <p>
        Finalmente y al grito de “<span class="never-again">Nunca más</span>”, se sentenció con prisión a los dictadores imputados. Sin embargo, los cuatro sobrevivientes de La Noche de los Lápices llevan consigo, una herida que jamás se podrá curar. Aun así, esta infancia perdida y el atropello a la democracia, subsistirá en la historia y en la memoria como el certificado de defunción del Terrorismo de Estado Argentino.
      </p>
    </div>
  </div>
</div>